/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
    *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #efefef;
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    color: #000;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width: 991px) {
    body.show-sidebar {
        overflow: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Blocks */
.page {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 991px) {
    .show-sidebar .page {
        position: relative;
    }
}

.page__title {
    margin-bottom: 3rem;
    font-size: 2.1rem;
    color: #000;
}

.page__title--centered {
    text-align: center;
}

@media (max-width: 991px) {
    .page__mask {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
    }
}

.header {
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 300px);
    background: #fdfdfd;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
}

@media (max-width: 991px) {
    .header {
        width: 100%;
    }
}

.header__left {
    width: 60%;
}

@media (max-width: 991px) {
    .header__left {
        width: 40%;
    }
}

.header__right {
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .header__right {
        width: 60%;
    }
}

.nav--mobile {
    display: none;
    margin: 2rem 0;
}

@media (max-width: 991px) {
    .nav {
        display: none;
    }

    .nav--mobile {
        display: block;
    }
}

.nav__list {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 991px) {
    .nav__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.nav__item {
    position: relative;
}

.nav__item:hover .nav__link {
    color: #f4f4f4;
    background-color: #3137c9;
    text-decoration: none;
}

.nav__item:hover > .subnav {
    display: block;
}

@media (max-width: 991px) {
    .nav__item:hover .nav__link {
        background: none;
    }
}

.nav__link {
    display: block;
    padding: 1.35rem;
    font-size: 1.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.nav__link.has-subnav {
    position: relative;
    padding-right: 3.5rem;
}

.nav__link.has-subnav:after {
    content: "";
    margin-top: 1.5px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 1.35rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.nav__link.has-subnav:hover:after {
    -webkit-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
    border-color: #fff transparent transparent transparent;
}

@media (max-width: 991px) {
    .nav__link {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.6rem;
    }
}

.burger {
    display: none;
    width: 3rem;
    height: 2rem;
    padding: 0;
    background: none;
    border: none;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger::before, .burger::after,
.burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
}

.burger::before, .burger::after {
    content: "";
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}

.show-sidebar .burger span {
    opacity: 0;
}

.show-sidebar .burger::before, .show-sidebar .burger::after {
    top: 50%;
}

.show-sidebar .burger::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show-sidebar .burger::after {
    -webkit-transform: rotate(-46deg);
    transform: rotate(-46deg);
}

@media (max-width: 991px) {
    .burger {
        display: block;
    }
}

.subnav {
    display: none;
    width: 16.5rem;
    padding: 0.5rem;
    background: #3137c9;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
}

@media (max-width: 991px) {
    .subnav {
        position: static;
        width: 100%;
        padding-left: 1rem;
        background: transparent;
        box-shadow: none;
    }
}

.subnav__link {
    display: block;
    padding: 0.45rem 1.2rem;
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.subnav__link:hover {
    text-decoration: none;
    background-color: #2c31b4;
}

@media (max-width: 991px) {
    .subnav__link {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.5rem;
    }

    .subnav__link:hover {
        background-color: none;
    }
}

.search {
    width: 100%;
    max-width: 21rem;
    background-color: #f4f4f4;
}

.search__input {
    display: block;
    width: 100%;
    padding: 1.2rem 2rem;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: #000;
}

.search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.search__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.search__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.search__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.search__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 991px) {
    .search__input {
        height: 4rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 1.6rem;
    }
}

.sidebar {
    width: 300px;
    height: 100vh;
    background: #f4f4f4;
    box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

@media (max-width: 991px) {
    .sidebar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 1.5rem;
        overflow: auto;
        top: 4rem;
        height: calc(100vh - 4rem);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    }

    .show-sidebar .sidebar {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.sidebar__header {
    height: 18rem;
    background-color: #080808;
}

.sidebar__header img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991px) {
    .sidebar__header {
        height: 10rem;
    }
}

.sidebar__content {
    margin: 0 2rem;
}

@media (max-width: 991px) {
    .sidebar__content {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.sidebar__footer {
    margin-top: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
}

.main {
    padding: 10rem 0 8rem 300px;
}

@media (max-width: 991px) {
    .main {
        padding: 7rem 0 5rem;
    }
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 5rem;
}

@media (max-width: 575px) {
    .container {
        padding: 0 1.5rem;
    }
}

.profile {
    margin-top: -5rem;
}

@media (max-width: 991px) {
    .profile {
        margin-top: -1rem;
        position: relative;
        border-bottom: 1px solid #d8d8d8;
    }
}

.profile__avatar {
    position: relative;
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    border: 2px solid #fff;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

@media (max-width: 991px) {
    .profile__avatar {
        width: 6.5rem;
        height: 6.5rem;
        margin-left: 0;
        position: absolute;
        left: 0;
    }
}

.profile__header {
    margin-bottom: 2rem;
    text-align: center;
}

@media (max-width: 991px) {
    .profile__header {
        padding-top: 2rem;
        padding-left: 8rem;
        text-align: left;
    }
}

.profile__name {
    color: #000;
    font-size: 2.2rem;
}

@media (max-width: 991px) {
    .profile__name {
        font-size: 1.5rem;
    }
}

.profile__job {
    font-size: 1.6rem;
    font-weight: 300;
    color: #0e0e0e;
}

@media (max-width: 991px) {
    .profile__job {
        font-size: 1.2rem;
    }
}

.profile__text {
    text-align: center;
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.4rem;
    color: #0e0e0e;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

@media (max-width: 991px) {
    .profile__text {
        display: none;
    }
}

.social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .social {
        display: none;
    }
}

.social__item {
    margin: 0 0.75rem;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;
    background: #080808;
    border: none;
    cursor: pointer;
    border-radius: 3em;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.btn-red {
    background-color: #ed3024;
    box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.3);
}

.btn-red:hover, .btn-red:focus {
    text-decoration: none;
    background-color: #b6190f;
}

.btn-blue {
    background-color: #3137c9;
    box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.3);
}

.btn-blue:hover, .btn-blue:focus {
    text-decoration: none;
    background-color: #22268b;
}

.btn-rounded {
    border-radius: 0.41em;
}

.btn-sm {
    padding: 0.7em 1.25rem;
}

.stories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin-bottom: 3rem;
}

@media (max-width: 575px) {
    .stories {
        grid-template-columns: repeat(4, 140px);
        overflow: auto;
    }
}

.stories__item {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.stories__item::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.stories__item:hover .stories__preview {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: 5s;
}

.stories__preview {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: auto;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.stories__title,
.stories__date {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #fff;
    position: absolute;
    left: 0;
    z-index: 3;
}

.stories__title {
    top: 0;
}

.stories__date {
    bottom: 0;
    text-align: right;
}

.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    background-color: #f4f4f4;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

@media (max-width: 575px) {
    .add-post {
        padding: 1.5rem;
    }
}

.add-post__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 34px;
    overflow: hidden;
    border: none;
    background: transparent;
    resize: none;
    font-family: inherit;
    font-size: 1.5rem;
    color: #000;
}

.add-post__textarea::-webkit-input-placeholder {
    color: #000;
}

.add-post__textarea::-moz-placeholder {
    color: #000;
}

.add-post__textarea:-ms-input-placeholder {
    color: #000;
}

.add-post__textarea::-ms-input-placeholder {
    color: #000;
}

.add-post__textarea::placeholder {
    color: #000;
}

.add-post__form-actions {
    width: 12rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 575px) {
    .add-post__form-actions {
        width: 9rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

@media (max-width: 575px) {
    .add-post__file,
.add-post__send {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post__file {
    background: #ebebeb url("../images/add-photo.svg") center no-repeat;
}

.add-post__file input {
    display: none;
}

.add-post__file:hover {
    background-color: #dedede;
}

@media (max-width: 575px) {
    .add-post__file {
        background-size: 18px;
    }
}

.add-post__send {
    margin-left: 1.5rem;
    font-size: 0;
    color: transparent;
    background: #3137c9 url("../images/send.svg") center no-repeat;
}

.add-post__send:hover {
    background-color: #2c31b4;
}

@media (max-width: 575px) {
    .add-post__send {
        background-size: 15px;
    }
}

.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    background-color: #f4f4f4;
}

@media (max-width: 991px) {
    .post {
        padding: 1.5rem;
    }
}

.post__header {
    margin: 0 0 2.5rem;
}

.post__header--preview {
    margin: -2.5rem -2.5rem 2.5rem;
}

.post__preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.post__title--open {
    margin-bottom: 0.75rem;
}

.post__title a {
    color: #000;
}

.post__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
}

.post__description {
    font-size: 1.4rem;
    color: #121212;
}

.post__text {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #000;
    border-bottom: 1px solid #d8d8d8;
}

.post__text img,
.post__text table,
.post__text p,
.post__text ol,
.post__text ul {
    margin-bottom: 2rem;
}

.post__text h2,
.post__text h3,
.post__text h3,
.post__text h4,
.post__text h5,
.post__text h6 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.post__text h2 {
    font-size: 1.3em;
}

.post__text h3 {
    font-size: 1.15em;
}

.post__text h4 {
    font-size: 1em;
}

.post__text h5 {
    font-size: 0.85em;
}

.post__text h6 {
    font-size: 0.7em;
}

.post__text ol {
    list-style: decimal;
    list-style-position: inside;
}

.post__text table {
    width: 100%;
}

.post__text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__text a {
    color: #3137c9;
}

.post__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 575px) {
    .post__footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.post__data {
    display: -ms-flexbox;
    display: flex;
    color: #555555;
    line-height: 1.2;
}

@media (max-width: 575px) {
    .post__data {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.post__more {
    font-size: 1.4rem;
    color: #107eff;
    text-decoration: none;
}

.post__more:hover {
    text-decoration: underline;
}

.post__actions {
    margin-bottom: 1.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #000;
}

.post__actions a {
    opacity: 0.6;
    transition: all 0.3s ease;
}

.post__actions a:hover {
    opacity: 1;
}

.post__actions-icon {
    margin-left: 0.5rem;
}

.embed,
.fr-video {
    display: block;
    position: relative;
    overflow: hidden;
}

.embed::before,
.fr-video::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embed,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 8rem;
}

@media (max-width: 991px) {
    .pagination {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 0.5rem;
}

.pagination__link {
    display: block;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: #e1e1e1;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 4rem;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.pagination__link:hover {
    text-decoration: none;
    background-color: #e6e6e6;
}

.pagination__link.active {
    background-color: #3137c9;
    color: #fff;
    box-shadow: 0 0 10px rgba(49, 55, 201, 0.15);
}

.related {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #d8d8d8;
}

.related__title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
}

.related__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 575px) {
    .related__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.related__list-item {
    width: 50%;
    margin-bottom: 2.5rem;
}

@media (max-width: 575px) {
    .related__list-item {
        width: 100%;
    }
}

.related__list-title {
    font-size: 1.4rem;
    color: #3137c9;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.related__list-date {
    font-size: 1.2rem;
    color: #828282;
}

.comments {
    margin-top: 5rem;
}

.comments__item {
    margin-bottom: 3rem;
}

.comments__item > .comments {
    padding-left: 3rem;
    margin-top: 3rem;
}

@media (max-width: 575px) {
    .comments__item > .comments {
        padding-left: 1.5rem;
    }
}

.comments__header {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
}

.comments__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comments__author {
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 1.4;
    padding-left: 1.5rem;
    font-size: 1.2rem;
}

.comments__name {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500px;
}

.comments__date {
    color: #757575;
}

.comments__text {
    font-size: 1.1rem;
    color: #000;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.comments__reply {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    color: #3137c9;
}

.comments__reply:hover {
    text-decoration: underline;
}

.form--auth {
    max-width: 280px;
    margin: 0 auto;
}

.form__group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form__group--md {
    margin-bottom: 2.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.75rem;
    background: none;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    border-radius: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: #000;
}

.form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.form-control::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.form-control:focus + .form__line {
    width: 100%;
}

.form-control--textarea {
    height: 32px;
    overflow: hidden;
    resize: none;
}

.form__line {
    width: 0;
    height: 1px;
    background: #3137c9;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: width 0.3s ease;
}

.form__footer--center {
    text-align: center;
}

.form__footer-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.form__footer-list li {
    margin: 0 0.5rem;
}

.work {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    background-color: #f4f4f4;
}

@media (max-width: 575px) {
    .work {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.work__preview {
    width: 31rem;
}

.work__preview img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 575px) {
    .work__preview {
        width: 100%;
        height: 15rem;
    }
}

.work__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 29rem;
    padding: 2.5rem;
}

@media (max-width: 575px) {
    .work__content {
        max-width: none;
    }
}

.work__title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
}

@media (max-width: 575px) {
    .work__title {
        margin-bottom: 2rem;
    }
}

.work__description {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 1.68;
    font-weight: 300;
    color: #d2d2d2;
}

@media (max-width: 575px) {
    .work__description {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
}

.work__footer {
    margin-top: auto;
    text-align: right;
}

@media (max-width: 575px) {
    .work__footer {
        text-align: left;
    }
}

.tags {
    margin-bottom: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tags__item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem 0.9rem;
    background-color: #ea8c1e;
    border-radius: 3px;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}

.cabinet {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 575px) {
    .cabinet {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.cabinet__form {
    width: 34rem;
}

@media (max-width: 575px) {
    .cabinet__form {
        -ms-flex-order: 2;
        order: 2;
    }
}

.cabinet__avatar {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 11rem;
}

.cabinet__avatar img {
    display: block;
    margin-bottom: 1.5rem;
}

@media (max-width: 575px) {
    .cabinet__avatar {
        -ms-flex-order: 1;
        order: 1;
        padding-left: 0;
        margin-bottom: 2rem;
    }
}

.cabinet__file {
    font-size: 1.4rem;
    color: #3137c9;
    text-decoration: underline;
    cursor: pointer;
}

.cabinet__file input {
    display: none;
}

.cabinet__file:hover {
    text-decoration: none;
}

.modal {
    display: none;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal.show {
    display: -ms-flexbox;
    display: flex;
}

.modal__content {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 8rem;
    background-color: #e2e2e2;
    border-radius: 5px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

@media (max-width: 991px) {
    .modal__content {
        padding: 5rem 3rem 3rem;
    }
}

.modal__content--contact {
    padding-bottom: 2.5rem;
}

.modal__content--story {
    padding: 0;
    background: none;
}

.modal__close {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    top: 2rem;
    right: 2rem;
    transition: all 0.3s ease;
}

.modal__close:hover {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4rem;
    font-size: 1.2rem;
    color: #121212;
}

.modal__footer li {
    margin: 0 0.5rem;
}

.modal__footer a {
    text-decoration: underline;
}

.modal__footer a:hover {
    text-decoration: none;
}

.modal__video {
    display: block;
    margin: 0 auto;
}